<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Pirates</title>
 </head>
 <body>
    <form action="/checkout" method="post">
      <p><label for="">Pirate Name:</label>
      <input type="text" name="pirate[name]"></p>
      <input type="submit" value="Submit">
    </form>
 </body>
</html>